.layoutSection {
    padding-top: 110px;
    background-color: rgba(128, 128, 128, 0.16);
    min-height: 100vh;
}

.layoutWrapper {
    display: flex;
}

@media (max-width:550px) {
    .layoutWrapper {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

}